body{
    padding: 0;
    margin: 0;  
    /*background-color: #e3c4a8;*/
    background-image: url("capetbackround.jpeg");
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    background-color: #33313b;
    color:#f6f5f5f6;
    height:12rem ;
    display:flex;
    flex-direction: row;
}

h1{
    top: 0;
    line-height: 3rem;
    font-size: 4rem;
    height: 167.25;
    width: 358px;
    padding-top: 0px;
    padding-left: 82px;


}
header img{
    top: 0;
    margin: 0rem 5rem;
    padding-left: 60%;
}

nav{
  height: 5rem;
  display: block;
  text-align: center;
 
}
.btn{
  text-decoration: none;
  background-color:#4592af;
  color:#f6f5f5f6;
  padding: 1rem;
}
.active, .btn:hover {
  background-color: #f6f5f5f6;
  color: #33313b;
}

a
{
  
  text-decoration: none;
  color: #f6f5f5f6;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: #33313b;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #4592af;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #f6f5f5f6;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background:#4592af;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

section{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
article{
    background-color: #f6f5f5;
    color: #33313b;
    margin: 2rem;
    padding: 1rem;
    text-align: justify;
}
article:hover {
    background-color: #4592af;
    color: #f6f5f5;
}
h4{
    font-size: 2rem;
    color: #33313b;

}

article img{
        float: left;
        margin:0;
        padding: 1rem;
}
@media only screen and (min-width:56.25em) {
article p{
-webkit-column-count: 3;
-webkit-column-gap: 20px;
-webkit-column-fill: auto;
-moz-column-count: 3;
-moz-column-gap: 20px;
-moz-column-fill: auto;
}
}

#auguste{
  margin-bottom:20vh;
}
#louis{
  margin-bottom:10vh;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 420px;
  position: relative;
  margin: auto;
  height: 20rem; 
  background-color: #33313b;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #f6f5f5f6;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.slideshow-container img{
    margin: 3rem 5rem;
    padding-left: 10%;
    padding-right: 50%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #f6f5f5f6;
}

/* Caption text */
.text {
  color: #4592af;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* display: flex; */
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #4592af;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #f6f5f5f6;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.container{
  position:relative;
  width:40%;
  height:400px;
  background-color: #33313b;
  overflow:hidden;
  padding-right: 3rem;
  padding-left: 3rem;
}

.mystyle{
    background-color: #f6f5f5;
    color:#33313b;
}
.up{
    color: #33313b;
    cursor:pointer;
    display:block;
    position: fixed;
    margin: 5rem;
    bottom: 0;
    right:0;

}
.up:hover{
    color:#4592af;
}
#adhe{
background-color: #f6f5f5;
margin: 15vh;
}
form{
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: #33313b;
}
ul{
    list-style-type: none;
}
#envoyer{
  background-color: #4592af;
  color:#f6f5f5;
  margin-left:98px;
  margin-top: 5vh;
}
footer{
    background-color: #33313b;
    height: 5rem;  
    bottom: 0;
    margin-bottom: 0;


}
footer p{
    float: right;
    margin: 1rem;
    font-size: 1.5rem;

}

/* @media all and (max-width:1200px) and (min-width:900px){ */
@media only screen and (max-width:75em) and (min-width:56.25em) { 
  header img{
    display: none;
 }
}
@media only screen and (max-width:56.24em){
  header img{
    display: none;
  }
  section{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  #myNav{
    display: none;
  }
}








